# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv
yolovenv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Extra documentation folder
extra/

# Logs
*.log